$reactColor: #25B2F5;
$titleColor: #82fd06;
$subtitleColor: #25B2F5;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  color: white;
  background: #090724;
  background: linear-gradient(180deg, #8C2C77 0%, #EC6AFB 49%, #ff00eaaf 100%);
  // width: 100%
  // height: 100vh
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  header{
  background: url('./images/RYM.png');
  background-repeat: no-repeat;
  height: 40vh;
  background-size: cover;
  background-position: center;

  header:before{
  content: "";
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(180deg, #ffffff, #0b1424);
  opacity: 0.4;
}}}
.container{
  width: 100%;
  margin: auto;
  height: 100%;
}
.content{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: relative;
}
.title{

  padding: 10px;
  color: $titleColor;
  font-size: 4rem;
  font-family: Shlop;
  font-weight: 300;
}
.text{
  color: $subtitleColor;
  font-size: 1.4rem;
  font-family: Shlop;
  font-weight: 300;
}
.characters{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  }
.image{
  width: 50%;
}
.box{
  width: 30%;
  background-color: #221130;
  margin: 10px;
  display: flex;
  border-radius: 4px;
  box-shadow: 4px 5px 17px 1px #0a1b05;
}
.character
{
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name{
  text-align: center;
  padding: 1px;
  font-family: Shlop;
  color: $titleColor;
  font-weight: 300;
  font-size: 10px;
}
.specie
{
  text-align: center;
  padding: 3px;
  border: 1px solid $titleColor;
  // background-color: #364150
  color: $subtitleColor;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 15px 0px 0px 0px;
  font-family: Shlop;
}

.status{
  text-align: center;
  color: $subtitleColor;
  padding: 3px;
  border: 1px solid $titleColor;
  // background-color: #150d8a;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px 0px;
}

.location
{
  text-align: center;
  color: $subtitleColor;
  padding: 3px;
  border: 1px solid $titleColor;
  // background-color: #364150
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 3px 0px;
}
@media screen and ( max-width: 1588px ){
  .container{
    width: 85%;
    .box
      .character
        .name{
          font-size: 30px;
          }}}
@media screen and ( max-width: 1450px ){
  .container{
    width: 90%;
}}
@media screen and ( max-width: 1300px ){
  .container{
    width: 95%;
}}
@media screen and ( max-width: 1230px ){
  .box{
    width: 35%;
}}
@media screen and ( max-width: 1230px ){
  .container{
    width: 100%;
}}

@media screen and ( max-width: 1080px ){
  .box{
    width: 45%;
    .character
      .name{
        font-size: 50px;
}}}
@media screen and ( max-width: 860px ){
  .container{
    width: 80%;
    .box{
      width: 100%;
}}}
@media screen and ( max-width: 636px ){
  .title{
    font-size: 4rem;
    padding: 5px;
}}
@media screen and ( max-width: 534px ){
  .text{
    font-size: 15px;
    .container{
      width: 90%;
}}}
@media screen and ( max-width: 444px ){
  .container{
    width: 95%;
    .title{
      font-size: 4rem;
      padding: 2px;
}}}
@media screen and ( max-width: 416px ){
  .container{
    width: 100%;
    .title{
      font-size: 4rem;
      padding: none;
}}}
@media screen and ( max-width: 392px ){
  .title{
    font-size: 3rem;
}}
@media screen and ( max-width: 378px ){
  .text{
    font-size: 13px;}}
